<div class="grid-x grid-margin-x">
  <div class="cell large-12">

    <%= render('./_book_info') %>

    <a class="button warning" href="<%= @book.inventory_number %>/delete">Удалить</a>
    <a class="button secondary" href="/books">Назад к списку книг</a>
  </div>
</div>