<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h2>Учет книг в библотеке</h2>
    <a href="/books" class="button">Показать список книг</a>
    <a href="/readers" class="button">Показать список читателей</a>
  </div>
</div>