<div class="grid-x grid-margin-x">
  <div class="cell large-12 warning">
    Вы действительно хотите удалить читателя <%= @reader.full_name %>?
  </div>
</div>

<%= render('./_delete_form', locals: { back_location: "/reader/#{@reader.id}" }) %>